
@import "stats.css";
@import "homepage.css";
@import "error404.css";
@import "pong.css";
@import "profile.css";
@import "tournament.css";
@import "chat.css";

@font-face {
	font-family: 'Bit5x3';
	src: url('../fonts/bit5x3.otf') format('opentype');
}

html, body, div, span, p, h1, h2, h3, h4, h5, h6,
button, input, select, textarea, main {
  font-family: 'Bit5x3', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	height: 100vh;
	overflow: hidden;
}
