.menu-dropdown {
	position: relative;
	display: inline-block;
	line-height: 0px;
	height: 40px;
	width: 90px;
	padding: 0px;
	background-color: #1a1a1a;
	border-radius: 12px;
}
.menu-dropbtn {
    height: 40px;
	width: auto;
	width: 90px;
	padding: 0px;
	color: #aaa;
	background-color: #1a1a1a;	
    font-size: 16px;
    border: 2px solid transparent;
	border-radius: 12px;
}
.menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
	border: 2px solid #4ade80;
	border-radius: 12px;
    width: 90px;
    z-index: 1;
}
.menu-dropdown-content a {
	font-size: 14px;
    color: #aaa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	border-radius: 12px;
}
.menu-dropdown-content a:hover {
	color: #4ade80;
}
.menu-dropdown:hover .menu-dropdown-content {
	display: block;
}
.menu-dropdown:hover .menu-dropbtn {
	background-color: transparent;
	color: #4ade80;
	border-color: #4ade80;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(74, 222, 128, 0.5);
}
